Source: change-ui
Section: misc
Priority: optional
Maintainer: User <admin@openyellowos.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: change-ui
Architecture: amd64
Depends: ${misc:Depends}
Description: This application allows you to customize the user 
 interface to suit your preferences. Choose from three distinct styles.
