[Desktop Entry]
Type=Application
Name=oYo UI Changer
GenericName=UI Changer
Comment=Change desktop UI settings on open.Yellow.os
Exec=oyo-ui-changer
Icon=gnome-system
Terminal=false
Categories=System;
